# SPDX-License-Identifier: GPL-2.0-only

if ARCH_NPCM || COMPILE_TEST

menu "NUVOTON SoC drivers"

config NPCM_MBOX_CERBERUS
	tristate "NPCM CERBERUS Mailbox"
	depends on ARCH_NPCM || COMPILE_TEST
	depends on MAILBOX
	help
	  An implementation of the NPCM mailbox controller.
	  It is used to send message between the Core processor and other 
	  processors on the BMC such as TIP and CP. 
	  Select Y here if you want to use NPCM mailbox controller.

endmenu

endif
